## Environment specs
Laptop: HP
Processor: 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz   2.80 GHz
RAM: 64.0 GB (63.7 GB usable)
Internet Speed: 100 Mbit

## Insert new Test suites to Azure devops scenario
| testSuitesCount | testCasesInSuiteCount | stepsInTestCaseCount | Synchronization time in seconds |
|-----------------|-----------------------|----------------------|---------------------------------|
| 10              | 5                     | 5                    | 11.327                          |
| 100             | 5                     | 5                    | 112.877                         |
| 500             | 5                     | 5                    | 739.383                         |
| 1000            | 5                     | 5                    | ~1400                           |
